{% extends "poly_crud/base.html" %}
{% block content %}
<head>
    <title>Список аллергии</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите аллергию</h2>
    </div>
</head>
<body>
    <table class="table">
    <ul>
    {% for allergy in allergies %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_allergy' allergy.id %}" role="button">{{ allergy.allergy_prep }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одной аллергии</p>
    {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'poly_crud:add_allergy' %}" role="button">Добавить новую</a>
    </table>
</body>
{% endblock content %}