{% extends "poly_crud/base.html" %}
{% block header %}
<head>
    <title>Доктора</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите доктора</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
    <table class="table">
    <ul>
    {% for doctor in doctors %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_doctor' doctor.id %}" role="button">{{ doctor.second_name }}
            {{ doctor.first_name }} {{ doctor.third_name }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одного доктора</p>
    {% endfor %}
    </ul>
        <a class="btn btn-info" href="{% url 'poly_crud:add_doctor' %}" role="button">Добавить нового</a>
    </table>
</body>
{% endblock content %}