{% extends "poly_crud/base.html" %}
{% block header %}
<head>
    <title>Лекарства</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите лекарство</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
    <table class="table">
    <ul>
    {% for drag in drags %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_drag' drag.id %}" role="button">{{ drag.drag_name }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одного лекарства</p>
    {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'poly_crud:add_drag' %}" role="button">Добавить новое</a>
    </table>
</body>
{% endblock content %}