{% extends "poly_crud/base.html" %}
{% load bootstrap5 %}
{% block header %}
<head>
    <title>{{ title }}</title>
    <div class="container bg-light text-primary p-1">
        <h2>{{ title }}</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
{% if error %}
{{ error }}
{% endif %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
            <button name="submit" class="btn btn-info">Сохранить</button>
    {% endbuttons %}

</form>
<p></p>
<form  method="post">
{% csrf_token %}
<input id="action_id" type="hidden" name="action" value="Delete">
<input type="submit" value="Удалить" class="btn btn-info"/>
</form>
</body>
{% endblock content %}