{% extends "poly_crud/base.html" %}
{% block header %}
<head>
    <title>Пациенты</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите пациента</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
    <table class="table">
    <ul>
    {% for patient in patients %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_patient' patient.card_no %}" role="button">{{ patient.second_name }}
            {{ patient.first_name }} {{ patient.third_name }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одного пациента</p>
    {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'poly_crud:add_patient' %}" role="button">Добавить нового</a>
    </table>
</body>
{% endblock content %}