{% extends "poly_crud/base.html" %}
{% block header %}
<head>
    <title>Специальности</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите специальность</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
    <table class="table">
    <ul>
    {% for speciality in specialties %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_speciality' speciality.name %}" role="button">{{ speciality.name }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одной специальности</p>
    {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'poly_crud:add_speciality' %}" role="button">Добавить новую</a>
    </table>
</body>
{% endblock content %}