{% extends "poly_crud/base.html" %}
{% block header %}
<head>
    <title>Список лечений</title>
    <div class="container bg-light text-primary p-1">
        <h2>Выберите дату начала лечения</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
<body>
    <table class="table">
    <ul>
    {% for treatment in treatments %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'poly_crud:edit_treatment' treatment.id %}" role="button">{{ treatment.date_in }}</a>
          <p></p>
    {% empty %}
        <p>Пока не добавлено ни одного лечения</p>
    {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'poly_crud:add_treatment' card_no %}" role="button">Добавить новое</a>
    </table>
</body>
{% endblock content %}