{% extends "poly_crud/base.html" %}
{% load bootstrap5 %}
{% block header %}
<head>
    <title>Авторизация</title>
    <div class="container bg-light text-primary p-1">
        <h2>Авторизация</h2>
    </div>
</head>
{% endblock header %}
{% block content %}
{% if form.errors %}
<p>Имя пользователя или пароль не верны, попробуйте снова</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вашего аккаунта нет доступа к этой странице. Чтобы продолжить,
        войдите в систему с учетной записью, которая имеет доступ.</p>
  {% else %}
    <p>Пожалуйста, войдите что-бы увидеть содержимое.</p>
  {% endif %}
{% endif %}

    <form method="post" action="{% url 'users:login' %}" class="form">
{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-info">Войти</button>
        {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'poly_crud:welcome' %}" />
    </form>
{% endblock content %}